[package]
name = "pallet-manta-pay"
version = "3.0.0"
authors = ["Manta Network <contact@manta.network>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/Manta-Network/pallet-manta-pay"
description = "Manta pay scheme"
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[build-dependencies]
substrate-wasm-builder = { version = '4.0.0', default-features = false }

[dependencies]
# Substrate dependencies
frame-support = { default-features = false, version = '3.0.0' }
frame-system = { default-features = false, version = '3.0.0' }
sp-runtime = { default-features = false, version = '3.0.0' }

frame-benchmarking = { default-features = false, version = '3.1.0', optional = true }

# Other Dependencies
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false }
data-encoding = { version = "2.3.2", default-features = false, features = [ "alloc" ] }

# Arkworks dependencies
ark-ed-on-bls12-381 = { version = "0.2.0", default-features = false, features = [ "r1cs" ] }
ark-bls12-381 = { version = "0.2.0", default-features = false, features = [ "curve" ] }
ark-crypto-primitives = { version = "0.2.0", default-features = false, features = [ "r1cs" ] }
ark-ff = { version = "0.2.0", default-features = false }
ark-ec = { version = "0.2.0", default-features = false }
ark-std = { version = "0.2.0", default-features = false }
ark-groth16 = { version = "0.2.0", default-features = false }
ark-r1cs-std = { version = "0.2.0", default-features = false }
ark-relations = { version = "0.2.0", default-features = false }
ark-serialize = { version = "0.2.0", default-features = false }

# Additional cryptography dependencies
rand_chacha = { version = "0.2", default-features = false }

hkdf = { version = "0.11", default-features = false }
sha2 = { version = "0.9.3", default-features = false }
aes = { version = "0.7.0", default-features = false }
x25519-dalek = { version = "1.1.0", default-features = false, features = [ "u64_backend" ] }
generic-array = { version = "0.14.0", default-features = false }
blake2 = { version = "0.9.1", default-features = false }


[dev-dependencies]
# benchmarking 
bencher = "0.1.5"
criterion = "0.2"

# testing
serde = { default-features = false, version = '1' }
sp-core = { default-features = false, version = '3.0.0' }
sp-io = { default-features = false, version = '3.0.0' }

[[bench]]
name = "manta_bench"
harness = false

[features]
default = ["std"]
runtime-benchmarks = [
	'frame-benchmarking/std',
]

std = [
	"ark-serialize/derive",
	"ark-groth16/r1cs",
	"frame-support/std",	
	"frame-system/std",	
]
