[package]
name = "pallet-manta-pay"
version = "3.0.0"
authors = ["Manta Network <contact@manta.network>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/Manta-Network/pallet-manta-pay"
description = "Manta pay scheme"
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# Substrate dependencies
frame-benchmarking = { default-features = false, version = '3.0.0', optional = true }
frame-support = { default-features = false, version = '3.0.0' }
frame-system = { default-features = false, version = '3.0.0' }
sp-runtime = { default-features = false, version = '3.0.0' }
sp-std = { default-features = false, version = '3.0.0' }

# Other Dependencies
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
data-encoding = { version = "2.3.2", default-features = false, features = [ "alloc" ] }
log = { version = "0.4.14", default-features = false }

# Arkworks dependencies
ark-std = { version = "0.2.0", default-features = false }

# Manta Dependencies
manta-asset = { branch = "manta", git = "https://github.com/Manta-Network/manta-types", default-features = false }
manta-crypto = { branch = "manta", git = "https://github.com/Manta-Network/manta-crypto", default-features = false }
manta-data = { branch = "manta", git = "https://github.com/Manta-Network/manta-types", default-features = false }
manta-error = { branch = "manta", git = "https://github.com/Manta-Network/manta-error", default-features = false }
manta-ledger = { branch = "manta", git = "https://github.com/Manta-Network/manta-types", default-features = false }

[dev-dependencies]
# benchmarking 
bencher = "0.1.5"
criterion = "0.3.4"

# testing
serde = { default-features = false, version = '1' }
sp-core = { default-features = false, version = '3.0.0' }
sp-io = { default-features = false, version = '3.0.0' }

ark-bls12-381 = { version = "0.2.0", default-features = false, features = [ "curve" ] }
ark-crypto-primitives = { version = "0.2.0", default-features = false, features = [ "r1cs" ] }
ark-ed-on-bls12-381 = { version = "0.2.0", default-features = false, features = [ "r1cs" ] }
ark-groth16 = { version = "0.2.0", default-features = false, features = [ "r1cs" ] }
ark-ff = { version = "0.2.0", default-features = false }
ark-relations = { version = "0.2.0", default-features = false }
ark-serialize = { version = "0.2.0", default-features = false, features = [ "derive" ] }

rand_chacha = { version = "0.2.0", default-features = false }
manta-api = { branch = "manta", git = "https://github.com/Manta-Network/manta-api", default-features = false, features = [ "std" ] }

[[bench]]
name = "manta_bench"
harness = false

[features]
default = [ 
	'std' 
	]

runtime-benchmarks = [
	"frame-benchmarking",
]

std = [
	"frame-benchmarking/std",
	"frame-system/std",
]
